@use "tokens/tokens" as *;

.product {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: 1px solid token(color, border-strong);
  border-radius: 16px;
  padding: 36px 24px;
  max-width: 400px;
  height: 582px;

  &__image {
    height: token(spacing, 30);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__name {
    font-size: token(font-size, lg);
  }

  &__actions {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  i {
    font-size: 180px;
    color: teal;
  }
}
