<div class="product">
  <div class="product__image">
    @if (product.imageUrl) {
      <img [src]="product.imageUrl" [alt]="product.name" />
    } @else {
      <i [class]="product.categoryName | icon"></i>
    }
  </div>
  <div class="product__name">{{ product.name }}</div>
  <div class="product__description">{{ product.description }}</div>
  <div class="product__price">{{ product.price | currency: currency }}</div>
  <div class="product__actions">
    <button matButton="filled" (click)="onAddToCart(product)">Buy</button>
    <button matButton="outlined">Learn more</button>
  </div>
</div>
