<form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  @if (loginForm.hasError("loginFailed")) {
    <p class="error">{{ "auth.login.errors.failed" | translate }}</p>
  }
  <mat-form-field appearance="outline">
    <mat-label>{{ "auth.fields.email.label" | translate }}</mat-label>
    <input
      matInput
      type="email"
      formControlName="email"
      [placeholder]="'auth.fields.email.placeholder' | translate"
    />

    @if (email.touched && email.hasError("required")) {
      <mat-error>{{ "auth.validation.emailRequired" | translate }}</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{ "auth.fields.password.label" | translate }}</mat-label>
    <input
      matInput
      type="password"
      formControlName="password"
      [placeholder]="'auth.fields.password.placeholder' | translate"
    />

    @if (password.touched && password.hasError("required")) {
      <mat-error>
        {{ "auth.validation.passwordRequired" | translate }}
      </mat-error>
    }
  </mat-form-field>

  <button
    class="forgot-password-link"
    mat-button
    type="button"
    (click)="goToForgotPassword()"
  >
    {{ "auth.actions.forgotPassword" | translate }}
  </button>

  <div class="actions">
    <button mat-flat-button color="primary" type="submit">
      {{ "auth.actions.login" | translate }}
    </button>
    <button matButton="outlined" type="button" (click)="goToRegister()">
      {{ "auth.actions.createAccount" | translate }}
    </button>
  </div>
</form>
