<div class="layout">
  <div class="item image">
    @if (item.imageUrl) {
      <img [src]="item.imageUrl" [alt]="item.productName" />
    } @else {
      <i
        [class]="item.subcategoryName || item.categoryName | icon"
        [style.color]="item.itemSpecs | iconColor"
      ></i>
    }
  </div>
  <div class="item details">
    <h3 class="details__header">{{ item.productName }}</h3>
    <div class="details__subtexts">
      @for (spec of item.itemSpecs; track spec.name) {
        <p>{{ spec.value }} {{ spec.name }}</p>
      }
      <p>{{ "cart.inStock" | translate }}</p>
    </div>
  </div>
  <div class="item price">
    <p>{{ item.totalPrice | currency: currency }}</p>
  </div>
  <div class="item actions">
    <button class="actions__remove" (click)="onRemoveItem(item.variantId)">
      <p>{{ "cart.remove" | translate }}</p>
    </button>
    <app-quantity-selector
      [value]="item.quantity"
      [min]="1"
      [max]="item.stockQuantity"
      (valueChange)="onQuantityChange(item, $event)"
    />
  </div>
</div>
