<form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  @if (loginForm.hasError("loginFailed")) {
    <p class="error">Invalid email or password.</p>
  }
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input
      matInput
      type="email"
      formControlName="email"
      placeholder="Enter your email"
    />

    @if (email.touched && email.hasError("required")) {
      <mat-error>Email is required.</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input
      matInput
      type="password"
      formControlName="password"
      placeholder="Enter your password"
    />

    @if (password.touched && password.hasError("required")) {
      <mat-error>Password is required.</mat-error>
    }
  </mat-form-field>

  <div class="actions">
    <button mat-flat-button color="primary" type="submit">Login</button>
    <button matButton="outlined" (click)="goToRegister()">
      Create new account
    </button>
  </div>
</form>
