@use "tokens/tokens" as *;

.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.content {
  width: 100%;
  max-width: 1200px;
  display: grid;
  margin: 0 auto;
  grid-template-columns: minmax(0, 1fr) 390px;
  gap: 64px;
  padding: 40px 16px;

  @include respond-down(md) {
    grid-template-columns: minmax(0, 1fr);
  }
}

.main-content {
  min-width: 0;
}
