<div class="layout">
  <app-header></app-header>

  @let itemCount = itemCount$ | async;

  <div class="content" [class.empty]="!itemCount">
    @if (itemCount) {
      <main class="main-content">
        <router-outlet></router-outlet>
      </main>
      <app-sidebar></app-sidebar>
    } @else {
      <div class="main-content">
        <i [class]="'cart' | icon"></i>
        <p>{{ "cart.empty" | translate }}</p>
        <button
          type="button"
          matButton="filled"
          [routerLink]="['/', site(), 'products']"
        >
          {{ "cart.continueShopping" | translate }}
        </button>
      </div>
    }
  </div>

  <app-footer></app-footer>
</div>
