.form-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 24px;
}

@media (min-width: 1024px) {
  .col-lg-12 {
    grid-column: span 12;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-3 {
    grid-column: span 3;
  }
}

app-dynamic-field {
  padding-top: 8px;
}
