<mat-form-field appearance="outline" [formGroup]="form">
  <mat-label>{{ field.label }}</mat-label>
  <input
    matInput
    [type]="field.type"
    [formControlName]="field.name"
    [placeholder]="field.placeholder ?? ''"
    [attr.maxlength]="getMaxLength(field)"
  />

  @if (form.get(field.name)?.invalid) {
    <mat-error class="field-error">
      <mat-icon aria-hidden="true" class="field-error__icon">
        error_outline
      </mat-icon>
      {{ "checkout.validation.invalidField" | translate: { label: field.label } }}
    </mat-error>
  }
</mat-form-field>
