@use "tokens/tokens" as *;

.sidebar-container {
  border: 1px solid token(color, border-muted);
  padding: token(spacing, 6);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: token(spacing, 9);

  .divider {
    height: 1px;
    background: token(color, divider);
  }
}
