@if (products$ | async; as products) {
  <app-product-list-toolbar
    [categoryOptions]="categoryOptions$ | async"
    [sortOptions]="sortOptions$ | async"
    [selectedCategory]="selectedCategoryId$ | async"
    [selectedSort]="selectedSort$ | async"
    [priceRange]="priceRange$ | async"
    (categoryChange)="onCategoryChange($event)"
    (sortChange)="onSortChange($event)"
    (priceRangeChange)="onApplyPriceFilter($event)"
    (clearFilters)="onClearFilters()"
  ></app-product-list-toolbar>
  <div class="products">
    @for (product of products; track product.id) {
      <app-product-card
        [product]="product"
        [currency]="siteService.config().currency"
        (addToCart)="addToCart($event)"
      ></app-product-card>
    }
  </div>
} @else {
  <p>{{ "products.empty" | translate }}</p>
}
