.xxs {
  height: 18px;
}

.xs {
  height: 24px;
}

.sm {
  height: 48px;
}

.md {
  height: 60px;
}

.lg {
  height: 150px;
}

.xl {
  height: 180px;
}

.xxl {
  height: 220px;
}

img {
  width: auto;
}
