<div class="filter-container">
  <div class="filter filter-sort">
    <app-filter-dropdown
      [label]="'products.filters.sortBy' | translate"
      [options]="sortOptions"
      [selectedValue]="selectedSort"
      [emptyOptionLabel]="defaultSortLabel"
      (selectedValueChange)="onSortChange($event)"
    />
  </div>

  <div class="filter filter-category">
    <app-filter-dropdown
      [label]="'products.filters.category' | translate"
      [options]="categoryOptions"
      [selectedValue]="selectedCategoryId"
      [emptyOptionLabel]="allCategoriesLabel"
      [disabled]="categoryOptions.length === 0"
      (selectedValueChange)="onCategoryChange($event)"
    />
  </div>

  @if (priceRange) {
    <div class="filter-price">
      <app-range-slider
        [label]="'products.filters.filterPrice' | translate"
        [prefix]="pricePrefix"
        [min]="priceMin"
        [max]="priceMax ?? priceMin"
        [step]="100"
        [value]="priceRange"
        (valueChange)="onPriceRangeChange($event)"
      />
    </div>
  }

  <!-- <button class="filter-clear" type="button" (click)="clearFilters.emit()">
    {{ "products.filters.clearFilters" | translate }}
  </button> -->

  <div class="filter-results">{{ productsCount }} Results</div>
</div>
