<div class="filter-container">
  @if (sortOptions) {
    <div class="filter filter-sort">
      <app-select-dropdown
        [label]="'products.filters.sortBy' | translate"
        [options]="sortOptions"
        [selectedValue]="selectedSort"
        (selectedValueChange)="onSortChange($event)"
      />
    </div>
  }
  @if (priceRange) {
    <div class="filter-price">
      <app-range-slider
        [label]="'products.filters.filterPrice' | translate"
        [prefix]="pricePrefix"
        [min]="priceMin"
        [max]="priceMax ?? priceMin"
        [step]="100"
        [value]="priceRange"
        (valueChange)="onPriceRangeChange($event)"
      />
    </div>
  }

  <!-- <button class="filter-clear" type="button" (click)="clearFilters.emit()">
    {{ "products.filters.clearFilters" | translate }}
  </button> -->

  <div class="filter-results">{{ productsCount }} Results</div>
</div>
