@use "tokens/tokens" as *;

.filter-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: token(spacing, 6);
  padding: token(spacing, 6);

  .filter {
    display: flex;
    gap: token(spacing, 2);
  }

  .filter-results {
    margin-left: auto;
    display: flex;
    align-items: center;
    font-size: 18px;
  }
}

@include respond-down(md) {
  .filter-container {
    flex-direction: column;
    align-items: stretch;
    gap: token(spacing, 3);
  }

  .filter,
  .filter-clear {
    width: 100%;
  }

  .filter {
    flex-direction: column;
    align-items: stretch;

    app-filter-dropdown {
      --filter-dropdown-label-width: 65px;
    }
  }

  .filter-price,
  .filter-sort,
  .filter-category {
    min-width: unset;
  }

  .filter-clear {
    margin-left: 0;

    button {
      width: 100%;
    }
  }
}
