<div class="addon">
  <div class="addon__image">
    @if (addon.imageUrl) {
      <img [src]="addon.imageUrl" [alt]="addon.name" />
    } @else {
      <i [class]="addon.id | icon"></i>
    }
  </div>
  <div class="addon__body">
    <div class="addon__body__title">{{ addon.title }}</div>
    <div class="addon__body__desc">{{ addon.description }}</div>
  </div>
  <div class="addon__actions">
    @if (addon.isAdded) {
      <p class="addon__amount">{{ addon.amount }}</p>
      <button (click)="removeSelectedAddon()">
        <i [class]="'delete' | icon"></i>
      </button>
    } @else {
      <button (click)="openAddonDialog(addon.id)">
        <i [class]="'add' | icon"></i>
        {{ "cart.addon.add" | translate }}
      </button>
    }
  </div>
</div>
