@if (steps().length) {
  <mat-stepper orientation="vertical" [selectedIndex]="currentIndex()">
    @for (step of steps(); track step.id; let i = $index) {
      <mat-step [label]="step.label">
        @if (currentIndex() === i) {
          @switch (step.id) {
            @case ("shipping") {
              <app-shipping-step
                #activeStep
                [fields]="step.fields ?? []"
                [initialValue]="checkoutData()[step.id]"
                [postalCode]="getPostalCode()"
                (valueChanged)="onStepValueChanged(step.id, $event)"
              />
            }

            @case ("payment") {
              <app-payment-step
                #activeStep
                [fields]="step.fields ?? []"
                [initialValue]="checkoutData()[step.id]"
                [paymentIntent]="paymentIntent()"
                [paymentAmount]="paymentAmount()"
                [paymentCurrency]="paymentCurrency()"
                [isCreatingPaymentIntent]="isCreatingPaymentIntent()"
                [isConfirmingPayment]="isPlacingOrder()"
                [confirmationResult]="paymentConfirmation()"
                [paymentErrorMessage]="paymentErrorMessage()"
                (valueChanged)="onStepValueChanged(step.id, $event)"
              />
            }

            @default {
              <app-dynamic-form
                #activeStep
                [fields]="step.fields ?? []"
                [initialValue]="getDynamicFormInitialValue(step.id)"
              />
            }
          }

          <div class="step-actions">
            @if (i > 0) {
              <button matButton="outlined" type="button" (click)="previous()">
                {{ "checkout.actions.back" | translate }}
              </button>
            }

            <button
              matButton="filled"
              type="button"
              [disabled]="
                isPlacingOrder() ||
                (step.id === 'payment' && isCreatingPaymentIntent())
              "
              (click)="next()"
            >
              @if (i === steps().length - 1 && isPlacingOrder()) {
                {{ "checkout.actions.processingPayment" | translate }}
              } @else {
                {{
                  (i === steps().length - 1
                    ? "checkout.actions.placeOrder"
                    : "checkout.actions.next"
                  ) | translate
                }}
              }
            </button>
          </div>
        }
      </mat-step>
    }
  </mat-stepper>
}
