:host ::ng-deep {
  .mat-vertical-stepper-header {
    padding-top: 0;
  }

  .mat-step-text-label {
    font-size: 24px;
  }
}

.step-actions {
  display: flex;
  justify-content: end;
  gap: 12px;
}

button {
  min-width: 150px;
}
