@use "tokens/tokens" as *;

.summary-container {
  h3 {
    font-size: 24px;
  }

  .items {
    padding-top: token(spacing, 6);
    display: flex;
    flex-direction: column;
    gap: token(spacing, 2);

    .item {
      display: flex;
      justify-content: space-between;
    }
  }

  .divider {
    height: 1px;
    background: token(color, divider);
    margin: token(spacing, 6) 0;
  }

  .total {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
  }
}
