<div class="cart-container">
  <!-- @if (cartLoading$ | async) {
    <p>Loading cart...</p>
  } -->

  @if (items$ | async; as items) {
    <div class="cart-items">
      @for (item of items; track item.productId; let last = $last) {
        <app-cart-item
          [item]="item"
          [currency]="siteService.config().currency"
          (removeItem)="removeItem($event)"
          (quantityChange)="onQuantityChange($event)"
        ></app-cart-item>
        @if (item.addons.length) {
          <div class="addons">
            @for (addon of item.addons; track addon.id) {
              <app-addon [addon]="addon"></app-addon>
            }
          </div>
        }
        @if (!last) {
          <div class="divider"></div>
        }
      }
    </div>
  }
</div>
