@use "tokens/tokens" as *;

:host ::ng-deep {
  .mat-step-header {
    pointer-events: none;
  }

  .mat-step-text-label {
    font-size: 24px;
  }

  .mat-step-header,
  .mat-step-header:hover,
  .mat-step-header:focus,
  .mat-step-header.cdk-program-focused,
  .mat-step-header.cdk-keyboard-focused {
    background-color: token(color, transparent) !important;
  }
}

.step-actions {
  display: flex;
  justify-content: end;
  gap: token(spacing, 3);
}

button {
  min-width: 150px;
}
