@use "tokens/tokens" as *;

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: token(color, surface-secondary);
}

.header {
  width: min(100% - 32px, 1200px);
  margin: 0 auto;
  padding: token(spacing, 6) 0;

  h1 {
    font-size: 28px;
    font-weight: 700;
  }
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: token(spacing, 8) token(spacing, 4) token(spacing, 12);
  background: token(color, surface);
}
