<div class="filter-container">
  @if (categoryOptions) {
    <div class="filter-category">
      <p>Category:</p>
      <app-select-dropdown
        [placeholder]="'All Categories'"
        [options]="categoryOptions"
        [selectedValue]="selectedCategory"
        (selectedValueChange)="onCategoryChange($event)"
      />
    </div>
  }

  <div class="filter-price">
    Filter Price:
    <app-filter-slider></app-filter-slider>
  </div>
  @if (sortOptions) {
    <div class="filter-sort">
      Sort by:
      <app-select-dropdown
        [placeholder]="'Default'"
        [options]="sortOptions"
        [selectedValue]="selectedSort"
        (selectedValueChange)="onSortChange($event)"
      />
    </div>
  }
</div>
