@use "tokens/tokens" as *;

.cart-container {
  display: flex;
  flex-direction: column;
  gap: token(spacing, 12);

  .cart-items {
    display: flex;
    flex-direction: column;
    gap: token(spacing, 9);
  }

  .addons {
    display: flex;
    flex-direction: column;
    gap: token(spacing, 6);
  }

  .divider {
    height: 1px;
    background: token(color, divider);
    margin: token(spacing, 2) 0;
  }
}
